* {
  box-sizing: border-box;
}

.container {
  height: 600px;
  width: 1000px;
  align-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
}

.menu-icon {
  padding: 10px;
  font-size: 50px;
  margin: 0;
  max-width: 50px;
  cursor: pointer;
}

.menu-drawer {
  top: 0;
  z-index: 1;
  width: 275px;
  min-height: 100vh;
  padding-top: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.45);
  transform: translateX(-283px);
  transition: transform 0.2s ease-in-out;
}

.menu-drawer.is-open {
  transform: translateX(0);
}

.menu-heading {
  font-family: 'Poller One', cursive;
  padding-left: 1rem;
}

.menu-items {
  padding: 1rem;
  font-family: 'Poller One', cursive;
  border: none;
  text-align: left;
  list-style-type: none;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.25s ease-in-out;
  cursor: pointer;
}

.menu-shade {
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}

.menu-shade.is-drawn {
  opacity: 0.5;
  pointer-events: all;
}

.menu-items:hover {
  background-color: rgb(230, 230, 230);
}

.menu-drawer,
.menu-shade {
  position: absolute;
}
